<div class="card">
  <div class="card-header" style="padding-bottom:0px">
    <h2 class="card-title">
      Barcodes Grid
    </h2>
    <small class="card-subtitle"><span class="js-non-print-mode">Enter Vehicle Id in Cells to Print</span></small>
    <div>
      <button class="btn btn-secondary waves-effect trillo-pull-right mr-2 trillo-display-none js-print-mode" nm="closePrintView">
        <i class="zmdi zmdi-arrow-left"></i> Close
      </button>
      <button class="btn btn-success waves-effect trillo-pull-right mr-2 js-non-print-mode" tabindex="-1" nm="generateBarcodes">
        <i class="zmdi zmdi-ruler"></i>
        Generate Barcodes
      </button>
      <button class="btn btn-success waves-effect trillo-pull-right mr-2 trillo-display-none js-print-mode" nm="printBarcodes">
        <i class="zmdi zmdi-print"></i>
        Print Barcodes
      </button>
      
    </div>
  </div>
  <div class="trillo-table editable-table js-non-print-mode" name="BarcodeGrid" nm="BarcodeGrid">
    <table data-container="" class="table">
      <thead>
        <tr data-table-header="">
          <th>
          </th>
          <th>
            1
          </th>
          <th>
            2
          </th>
          <th>
            3
          </th>
        </tr>
      </thead>
      <tbody>
        <tr data-table-row="">
          <td data-child-type="readonly" nm="c0" data-field-type="readonly">
          </td>
          <td data-child-type="text">
            <input data-input="" type="text" class="form-control" nm="c1">
          </td>
          <td data-child-type="text">
            <input data-input="" type="text" class="form-control" nm="c2">
          </td>
          <td data-child-type="text">
            <input data-input="" type="text" class="form-control" nm="c3">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="barcode-page trillo-display-none js-print-mode">
    <div class="barcode-inner-div">
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
      <svg class="barcode-label"></svg>
    </div>
  </div>
</div>

