<div class="card">
  <div class="card-header">
    <h2 class="card-title">
      Office Operations
    </h2>
    <small class="card-subtitle"></small>
  </div>
  <div class="card-block">
    <div class="home-ops">
      <button class="btn btn-success btn--icon-text waves-effect" nm="newCustomer">
        <i class="zmdi zmdi-account-add"></i>
        New Customer
      </button>
      <button class="btn btn-info btn--icon-text waves-effect" nm="precheckout">
        <i class="zmdi zmdi-time"></i>
        Pre-Checkout
      </button>
      <button class="btn btn-info btn--icon-text waves-effect" nm="resumeStorage">
        <i class="zmdi zmdi-store"></i>
        Resume Storage
      </button>
      <button class="btn btn-warning btn--icon-text waves-effect" nm="newTask">
        <i class="zmdi zmdi-assignment"></i>
        New Task
      </button>
    </div>
  </div>
</div>

