<div class="trillo-form trillo-form-1">
  <form data-container="">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">
          New Vehicle 
        </h2>
        <small class="card-subtitle"></small>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="priority">Type:</label>
              <select data-input="" class="form-control" placeholder="Type of Vehicle" enum-name="vehicle-type" nm=
              "vehicleType">
              </select>
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="priority">Status:</label>
              <select data-input="" class="form-control" placeholder="Status of Vehicle" enum-name="new-vehicle-status" nm=
              "status">
              </select>
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="priority">License:</label>
              <input data-input="" type="text" class="form-control"  nm="license">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="priority">CF Number:</label>
              <input data-input="" type="text" class="form-control" nm="cfNumber">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="priority">Building:</label>
              <select data-input="" class="form-control"  nm="buildingNumber" enum-name=
              "building-type">
              </select>
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="priority">Location:</label>
              <input data-input="" type="text" class="form-control" nm="location" d="">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="priority">Model:</label>
              <input data-input="" type="text" class="form-control" nm="model">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="priority">Width:</label>
              <input data-input="" type="text" class="form-control" nm="width">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="priority">Length:</label>
              <input data-input="" type="text" class="form-control" nm="length">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:30px">
          <div class="col-sm-12">
            <div class="form-group">
              <textarea data-input="" class="form-control" placeholder="Add a note here..." nm="notes">
              </textarea>
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <button class="btn btn-primary waves-effect" nm="ok">
                Save
              </button>
              <button class="btn btn-secondary waves-effect" nm="_browser_back">
                <i class="zmdi zmdi-arrow-left"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>