<div class="trillo-form trillo-form-1">
  <form data-container="">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">
          Business Settings
        </h2>
        <small class="card-subtitle"></small>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <input data-input="" type="text" class="form-control" placeholder="Business Name" nm="name">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label for="priority">Select Default Color Theme</label>
            <br/>
            <div data-radios-container  class="btn-group btn-group--colors mt-2" data-toggle="buttons" nm="colorTheme">
              <label class="btn bg-green waves-effect">
              <input type="radio" value="green" autocomplete="off" nm="colorTheme" checked></label>
               
              <label class="btn bg-blue waves-effect">
              <input type="radio" value="blue" autocomplete="off" nm="colorTheme"></label>
               
              <label class="btn bg-red waves-effect">
              <input type="radio" value="red" autocomplete="off" nm="colorTheme"></label>
               
              <label class="btn bg-orange waves-effect">
              <input type="radio" value="orange" autocomplete="off" nm="colorTheme"></label>
               
              <label class="btn bg-teal waves-effect">
              <input type="radio" value="teal" autocomplete="off" nm="colorTheme"></label>
              <br>
               
              <label class="btn bg-cyan waves-effect">
              <input type="radio" value="cyan" autocomplete="off" nm="colorTheme"></label>
               
              <label class="btn bg-blue-grey waves-effect">
              <input type="radio" value="blue-grey" autocomplete="off" nm="colorTheme"></label>
               
              <label class="btn bg-purple waves-effect">
              <input type="radio" value="purple" autocomplete="off" nm="colorTheme"></label>
               
              <label class="btn bg-indigo waves-effect">
              <input type="radio" value="indigo" autocomplete="off" nm="colorTheme"></label>
               
              <label class="btn bg-lime waves-effect">
              <input type="radio" value="lime" autocomplete="off" nm="colorTheme"></label>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:15px">
          <div class="col-sm-6">
            <div class="form-group">
              <button class="btn btn-primary waves-effect" nm="ok">
                Save
              </button>
              <button class="btn btn-secondary waves-effect" nm="_browser_back">
                <i class="zmdi zmdi-arrow-left"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

