<div class="card">
  <div class="card-header" style="padding-bottom:0px">
    <h2 class="card-title">
      Recorded Inventory
    </h2>
    <small class="card-subtitle"></small>
    <div class="dataTables_buttons actions">
      <button class="btn btn-success waves-effect" nm="clearRecordedInventory">
        <i class="zmdi zmdi-delete"></i>
        Clear Recorded Inventory
      </button>
      <a class="actions__item zmdi zmdi-print js-tool hidden-sm-down trillo-role-admin" data-table-action="print" nm=
      "_datatable_print">
      </a>
      <div class="dropdown actions__item hidden-sm-down trillo-role-admin">
        <i data-toggle="dropdown" class="zmdi zmdi-download"></i>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="" class="dropdown-item" data-table-action="excel" nm="_datatable_export_excel">
              Excel (.xlsx)
            </a>
            <a href="" class="dropdown-item" data-table-action="csv" nm="_datatable_export_csv">
              CSV (.csv)
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div data-table-filter style="margin-top: 30px">
      <label>Select Building:</label>
      <select data-input="" class="form-control form-control-lg" 
        style="margin-left: 15px; display:inline-block; width: 100px"
        nm="scanBuildingNumber"  enum-name="building-filter2-type"></select>
    </div>
  </div>
  <div class="card-block">
    <div class="table-responsive">
      <table data-container="" id="data-table" class="table table-bordered">
        <thead class="thead-default">
          <tr data-table-header="">
            <th style="width:10%; text-align:center">
              Vehicle Id
            </th>
            <th style="width:16%">
              Status
            </th>
            <th style="width:14%">
              Scanned At
            </th>
            <th style="width:14%">
              Building
            </th>
            <th style="width:10%">
              Location
            </th>
            <th style="width:8%">
              License
            </th>
            <th style="width:8%">
              CF#
            </th>
            <th style="width:20%">
              Model
            </th>
          </tr>
        </thead>
        <tbody>
          <tr data-table-row="">
            <td data-child-type="readonly" data-field-type="readonly" nm="vehicleId">
            </td>
            <td data-child-type="readonly" data-field-type="readonly">
              <span enum-name="vehicle-status" nm="status"></span>
            </td>
            <td data-child-type="readonly">
              <span field-type="datetime" format="M/D/YY - h:mm A"  nm="scannedAt"></span>
            </td>
            <td data-child-type="readonly" data-field-type="readonly">
              <span enum-name="building-type" nm="buildingNumber"></span>
            </td>
            <td data-child-type="readonly" data-field-type="readonly" nm="location">
            </td>
            <td data-child-type="readonly" data-field-type="readonly" nm="license">
            </td>
            <td data-child-type="readonly" data-field-type="readonly" nm="cfNumber">
            </td>
            <td data-child-type="readonly" data-field-type="readonly" nm="model">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>