<aside class="sidebar">
  <div class="scroll-wrapper scrollbar-inner" style="position: relative;">
    <div class="scrollbar-inner scroll-content" style=
    "height: 953.5px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
      <div class="user">
        <div class="user__info">
          <img class="user__img" src="static/img/user.png" alt="">
          <div>
            <div class="user__name">
              {{{appContext.userFullName}}}
            </div>
            <!--  div class="user__email"> malinda-h@gmail.com</div-->
          </div>
        </div>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">
            View Profile
          </a>
          <a class="dropdown-item" href="">
            Settings
          </a>
          <a class="dropdown-item" href="">
            Logout
          </a>
        </div>
      </div>
      <ul class="navigation">
        <li>
          <a nm="home_">
            <i class="zmdi zmdi-home"></i>
            Home
          </a>
        </li>
        <li>
          <a nm="precheckout">
            <i class="zmdi zmdi-time"></i>
            Pre-Checkout
          </a>
        </li>
        <li>
          <a nm="customerList">
            <i class="zmdi zmdi-accounts"></i>
            Customer
          </a>
        </li>
        <li>
          <a nm="vehicleList">
            <i class="zmdi zmdi-boat"></i>
            Vehicle
          </a>
        </li>
        <li class="navigation__sub">
          <a nm="inventory">
            <i class="zmdi zmdi-balance"></i>
            Inventory
          </a>
          <ul>
            <li>
              <a href="" nm="scanForm">
                Scan Form
              </a>
            </li>
            <li>
              <a href="" nm="recordedInventory">
                Recorded Inventory
              </a>
            </li>
          </ul>
        </li>
        <li class="navigation__sub">
          <a nm="inventory">
            <i class="zmdi zmdi-collection-text"></i>
            Reports
          </a>
          <ul>
            <li>
              <a href="" nm="activityReport">
                Activity Report
              </a>
            </li>
            <li>
              <a href="" nm="missingVehicleReport">
                Missing Vehicle
              </a>
            </li>
            <li>
              <a href="" nm="statusReport">
                Wrong Status
              </a>
            </li>
            <li>
              <a href="" nm="wrongLocationReport">
                Wrong Warehouse
              </a>
            </li>
            <li>
              <a href="" nm="duplicateIdReport">
                Duplicate Id
              </a>
            </li>
            <li>
              <a href="" nm="invalidLabelReport">
                Invalid Label
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a nm="tasks">
            <i class="zmdi zmdi-view-list"></i>
            Tasks
          </a>
        </li>
        <li style="display:none">
          <a nm="bardcodes">
            <i class="zmdi zmdi-ruler"></i>
            Barcodes
          </a>
        </li>
        <li class="navigation__sub trillo-role-admin">
          <a nm="um">
            <i class="zmdi zmdi-settings"></i>
            Admin
          </a>
          <ul>
            <li>
              <a href="" nm="users">
                Users
              </a>
            </li>
            <li>
              <a href="" nm="editOrg">
                Business Settings
              </a>
            </li>
            <li>
              <a href="" nm="uploadCSVFiles">
                Upload CSV Files
              </a>
            </li>
            <li>
              <a href="" nm="initDB">
                Initialize DB
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="scroll-element scroll-x">
      <div class="scroll-element_outer">
        <div class="scroll-element_size">
        </div>
        <div class="scroll-element_track">
        </div>
        <div class="scroll-bar" style="width: 100px;">
        </div>
      </div>
    </div>
    <div class="scroll-element scroll-y">
      <div class="scroll-element_outer">
        <div class="scroll-element_size">
        </div>
        <div class="scroll-element_track">
        </div>
        <div class="scroll-bar" style="height: 99px; top: 71.0667px;">
        </div>
      </div>
    </div>
  </div>
</aside>

