<div class="card" name="UploadCSVFiles" nm="UploadCSVFiles">
  <div class="card-block">
    <h3 class="trillo-text-center text-muted" style="margin-bottom:30px">
      Upload CSV File
    </h3>
    <div style="margin-top: 30px; padding-left:30px">
      <div data-radios-container="" data-type="string" nm="clsName">
        <label class="custom-control custom-radio">
        <input type="radio" name="clsName" nm="clsName" value="Customer" class="custom-control-input"> 
        <span class="custom-control-indicator"></span>
         
        <span class="custom-control-description">Customer</span>
        </label>
         
        <label class="custom-control custom-radio">
        <input type="radio" name="clsName" nm="clsName" value="Vehicle" class="custom-control-input"> 
        <span class="custom-control-indicator"></span>
         
        <span class="custom-control-description">Vehicle</span>
        </label>
      </div>
    </div>
    <div class="trillo-upload-form-c js-file-upload">
      <form action="/fileUpload" method="post" enctype="multipart/form-data" target="hiddenFrame" class=
      "trillo-upload-form">
        <div class="js-upload-alert alert alert-block alert-danger" style="display: none">
        </div>
        <div class="js-upload-success alert alert-block alert-success" style="display: none">
        </div>
        <div class="trillo-upload-dragdrop-box js-file-drag-drop" style="padding-top:20px">
          <span class="trillo-upload-dragdrop-box-msg">Click here to choose from your computer.
          <br>
           Or, drag and drop files here.</span>
        </div>
        <div class="trillo-upload-progress-box js-upload-progress-box">
          <div class="trillo-upload-progress-file trillo-display-none js-upload-progress-file">
            <div nm="fileName" class="trillo-upload-progress-file-name">
            </div>
            <div nm="error" class="trillo-upload-progress-file-error trillo-display-none">
            </div>
            <div nm="success" class="trillo-upload-progress-file-error trillo-display-none">
            </div>
            <div class="progress">
              <div nm="progress" class="progress-bar js-progress-bar trillo-upload-pb-notransition" role="progressbar"
              aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
              </div>
            </div>
          </div>
        </div>
        <div class="trillo-upload-file-input-hidden">
          <div class="trillo-upload-form-group-c">
            <div class="input-group">
              <input type="text" maxlength="50" name="fileName" nm="fileName" class="trillo-file-name">
            </div>
            <input type="file" name="file" nm="file" class="trillo-file" size="51">
          </div>
        </div>
        <div class="trillo-upload-dragdrop-box-separator">
        </div>
      </form>
      <iframe class="trillo-upload-form-hidden-iframe" style="position:absolute" name="hiddenFrame"></iframe>
    </div>
  </div>
</div>

