<div class="card">
  <div class="card-header">
    <h2 class="card-title">
      Warehouse Operations
    </h2>
    <small class="card-subtitle"></small>
  </div>
  <div class="card-block">
    <div class="home-ops">
      <button class="btn btn-primary btn--icon-text waves-effect" nm="checkin">
        <i class="zmdi zmdi-check-all"></i>
        Check-in List
      </button>
      <button class="btn btn-primary btn--icon-text waves-effect" nm="quickCheckin">
        <i class="zmdi zmdi-check"></i>
        Quick Check-in
      </button>
      <button class="btn btn-primary btn--icon-text waves-effect" nm="quickRelocate">
        <i class="zmdi zmdi-gps-dot"></i>
        Quick Relocate
      </button>
      <button class="btn btn-warning btn--icon-text waves-effect" nm="sidebar:tasks">
        <i class="zmdi zmdi-view-list"></i>
        Tasks
      </button>
    </div>
  </div>
</div>

